html, body{
    margin:0;
    height:100%;
    width:100%;
}

#header{
    position:relative;
    height:100px;
    width:100%;
}

#nav-wrap{
    position:relative;
    background-color:black;
    height:37px;
    border-radius:2px;
}

img.logo{
    width:400px;
    position:relative;
    left:-20px;
    bottom:15px;
}

ul.navbar{
    position:relative;
    top:8px;
}

li.navbar{
    display:inline;
}

a.navbar{
    color:white;
    text-decoration:none;
    padding:13px 20px 12px 20px;
    font-family:arial;
    font-weight:bold;
    font-size:10px;
}

a.navbar:hover {
    background-color:#6D6E71;
    color:#F7AD89;
}

h1.caption{
    position: relative;
    left: 180px;
    top: -30px;
    font-family: georgia;
    font-size: 25px;
    color:#F78E11;
    width:500px;
    font-weight:500;
}

#content{
    position:relative;
    margin:0 auto;
    width:980px;
    height:100%;
}

#page-wrap{
    height:100%;
    width:100%;
}

p.main{
    font-family:georgia;
    width:558px;
    font-size:14px;
    line-height:17px;
    position:relative;
    left:220px;
    top:40px;
}
.highlight{
    color:#F7AD89;
}
